<!-- <h1 *ngIf="isShow">Họ tên: {{ userName }}</h1>

<button type="button" class="btn btn-default" (click)="onToggle()">Toggle</button>


<div class="radio">
    <label>
        <input type="radio" name="rdCheck" (click)="onChange(true)"> Hợp lệ
    </label>
    <label>
        <input type="radio" name="rdCheck" (click)="onChange(false)"> Không Hợp Lệ
    </label>
</div>
<h3 *ngIf="isChecked; else elseBlock">Hợp lệ</h3>
<ng-template #elseBlock>
    <h3>Không hợp lệ</h3>
</ng-template>

<div class="form-group">
    <label for="">Tuổi: </label>
    <input type="text" class="form-control" [(ngModel)]="age">
</div>

<ng-container *ngIf="age > 18; else elseNotEnough">
        <h3>Đủ tuổi</h3>
</ng-container>
<ng-template #elseNotEnough>
    <h3>Không đủ tuổi</h3>
</ng-template> -->

<!-- Kiểm tra mảng. Nếu mảng.length > 0 => Hiển thị mảng -->
<!-- Ngược lại -->


<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of names">
        {{ item }}
    </li>
</ul>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products;
             let i  = index
             let f = first
             let l = last
             let e = even
             let o = odd
             trackBy : myTrackByFunction
             "
            [style.background-color] = "f===true ? 'gray' : ''"
            [style.background-color] = "l===true ? 'cyan' : ''"
        >
            <td>{{ i+1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }} VND</td>
        </tr>
    </tbody>
</table>


<button type="button" class="btn btn-default" (click)="onLoadData()">Get Data From Server</button>

