<h3>ComponentToView</h3>
<h1>interpolation</h1>
<!-- hien thi kien interpolation -->
<!-- <h3>Họ Tên: {{ name }}</h3>
<h4>Tuổi: {{ age }}</h4>
<h4>Tình trạng hôn nhân: {{ isMarried ? 'đã kết hôn' : 'độc thân' }}</h4> -->
<h3>Họ Tên: {{ user.name }}</h3>
<h4>Tuổi: {{ user.age > 18 ? 'Đã dậy thì' : 'Còn non cơm' }}</h4>
<h4>Tình trạng hôn nhân: {{ user.isMarried ? 'đã kết hôn' : 'độc thân' }}</h4>
<a href="{{ link }}">{{ textLink }}</a>

<!-- <p>{{ showInfo() }}</p> -->
<hr>
<h1>Property Binding</h1>

  <input type="text" class="form-control" [value]="name">
  
  <button type="button" 
  class="btn btn-default"
  [disabled] = "isValid"
  >Đăng nhập</button>
  <hr>
  <table border="1px" [attr.width]="tbWidth">
    <tr>
      <td>ID</td>
      <td>Họ Tên</td>
      <td>SĐT</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ABC</td>
      <td>123456</td>
    </tr>
  </table>

  <hr>
  <h2>Class Binding</h2>
  <table [class.table-bordered]="isBorder">
    <tr>
      <td>ID</td>
      <td>Họ Tên</td>
      <td>SĐT</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ABC</td>
      <td>123456</td>
    </tr>
  </table>
  
  <span class="label" 
  [class.label-danger]="isChecked === 1"
  [class.label-success]="isChecked !== 1"
  >Label</span>

  <hr>
  <h4 
  [style.background-color]="isSpecial ? 'red' : 'cyan'"
  [style.color]="'white'"
  [style.font-size.px]="size" //chinh font-size cho kieu chu
  >Lập trình Angular 4</h4>
  
  
